/* =========================================================
   Tooltip
   ========================================================= */

.tooltip {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: flex-start;
  max-width: 240px;
  padding: var(--space-base);
  border-radius: var(--radius-base);
  background: var(--fill-tooltip);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.text {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--text-invert);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--text-secondary);
  text-decoration: none;
  white-space: nowrap;
}

.link:hover {
  text-decoration: underline;
}
